Question 1

A database is a structured collection of data that is  organized in a way to easily manage, store, and retrive information. It serves as a repository for various types of data, allowing usera and applications to interact with and manipulate the data efficiently.

Difference between SQL and NoSQL:
- SQL(Sequantial Query Language) is used in table based databases, While NoSQL(Not only Structured Query Language) is usd in document, key-value based databases.
- SQL is better for multi-raw transactions, while NoSQL is better for unstructured data like documents or JSON.
- SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
- examples of SQL databases include MySQL, PostgreSQL, Oracle, Microsoft SQL server etc, while examples of NoSQL databases include MongoDB, Cassandra, Redius, Amazon DynamoDB, Neo4j etc

Question 2

DDL stands for Data Defination Language, Which is subset of SQL used to define and manage the structure of a database. DDL consist of commands like CREATE, ALTER, TRUNCATE, DROP etc.

**CREATE:** The create statement is used to create new database objects, such as tables, indexes or views.                            
For example,                               
CREATE TABLE student (student_id INT PRIMARY KEY, student_name VARCHAR(50), department VARCHAR(50))

**DROP:** The drop statement is used to remove existing database objects, such as tables, indexes or views.                                      
For example,                                                   
DROP TABLE student

**ALTER:** The alter statement is used to modify the structure of existing database objects, such as adding or dropping columns in a table.      
For Example,                                                       
ALTER TABLE student ADD COLUMN age INTEGER

**TRUNCATE:** The TRUNCATE statement is used to quickly delete all rows from a table while keeping the table structure for future use.             
For Example,                                                
TRUNCATE TABLE student

Question 3

DML stands for Data Manipulation Language, and it is a subset of SQL responsible for manipulating data stored in a database. The three main DML statements are INSERT, UPDATE, and DELETE, which perform operations such as adding new data, modifying existing data, and removing data from database tables.

**INSERT:** The INSERT statement is used to add new records to a table.     
For example,                                                      
INSERT INTO student (student_id, student_name, department)                 
VALUES (21064581009, Lisa, Physics);

**UPDATE:** The UPDATE statement is used to modify existing records in a table.                                             
UPDATE student
SET department = "Data science"                                      
WHERE student_name = "Lisa";

**DELETE**: The DELETE statement is used to remove records from a table.  
DELETE FROM student                                           
WHERE student_id = 21064581009;

Question 4

DQL stands for Data Query Language, and it is a subset of SQL specifically designed for querying and retriving data from a database. The primary DQL statement is SELECT, which is used to retrive data from one or more tables.

**SELECT:** The SELECT statement is used to retrieve data from one or more tables in a database. we can use conditions in select statement like where, order by, group by join etc.                                     
For Example,                                                           
SELECT student_id, student_name, department                             
FROM student                                                        
WHERE department = "Data science";

Question 5

A primary key is a unique identifier for each record in a table. It uniquely identifies each raw in the table and ensures that no two raws can have the same key. The primary key is used to enforce entity integrity and create relationships between tables.

A foreign key is a field in a relational table that matches the primary key of another table. It establishes a link or relationship between two tables by referencing the primary key column of another table. Foreign keys are used to enforce referential integrity, ensuring that relationships between tables remain consistent.

Question 7

# import mysql.connector
import mysql.connector            
# create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password"
)
mycursor = mydb.cursor()

**cursor():** The cursor method is used to create a cursor object. A cursor is an object that allows Python code to interact with the database by sending SQL queries and receiving the results.

**execute():** The execute() method is used to execute a SQL query or command through the cursor object. It sends the query to the connected database and returns the result.

The order of execution of SQL clauses in an SQL query is as follows:
- SELECT
- FROM
- JOIN
- WHERE
- GROUPBY
- HAVING
- ORDERBY